
/* Common */

body{
    font-family: Arial, sans-serif
}

.ms-btn_general{
    border-radius: 22px;
}

.ms-btn_red{
    background-color: #cd3d0f;
    color: #fff;
}

.ms-btn_black{
    background-color: #363636;
    color: #fff;
}

.ms-btn_blue{
    background-color: #2d64e6;
    color: #fff;
}

.ms-btn_gray{
    background-color: #d9dadc;
    color: #2d64e6;
}

.ms-btn_white{
    background-color: #f5f5f5;
    color: #000;
}

/* Typo */

p{
    font-size: 0.875rem;
}

.ms-text_white{
    color: #ffffff;
}

.ms-text_gray{
    color: #727272;
}

.ms-text_blue{
    color: #0072ce;
}


/* header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-top{
    background-color: #000;
    height: 35px;
}

.header-top .container, .header-top .row{
    height: 100%;
}

.logo-sony{
    height: 20px;
}

.header-bottom{
    background-color: #fff;
    height: 65px;
}

.navbar{
    height: 100%;
}

.logo-ps{
    width: 100%;
}

.angle-down, .angle-down-hover{
    width: 0.62rem;
}

.angle-down-hover{
    display: none;
}
 
/* change bootstrap nav property */
.navbar-light .navbar-nav .nav-link, .nav-item .nav-link{
    color: #000;
}

.nav-item .nav-link{
    padding-left: 0;
    padding-right: 0;
}


/* Header hover */

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}

.nav-item .nav-link:hover .angle-down{
    display: none;
}

.nav-item .nav-link:hover .angle-down-hover{
    display: inline-block;
}

/* main */

.section-jumbo{
    margin-top: 100px;
}

.section-jumbo__selected{
    height: 600px;
    margin-bottom: 35px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top center;
    padding-top: 250px;
}

    
.section-jumbo__title, .section-jumbo__par{
    margin-bottom: 30px;
}

.section-jumbo__image-name{
    width: 60%;
    margin-bottom: 40px ;
}

/*game image */

.game{
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.border_radius{
    border-radius: 15px;
}

.game__image{
    width: 100%;
}