
/* Common */

body{
    font-family: Arial, sans-serif
}

.ms-container{ /* da cancellare -- serve solo per impostare */
    padding-top: 15px;
}

.ms-btn_general{
    border-radius: 22px;
}

.ms-btn_red{
    background-color: #cd3d0f;
    color: #fff;
}

.ms-btn_black{
    background-color: #363636;
    color: #fff;
}

.ms-btn_blue{
    background-color: #2d64e6;
    color: #fff;
}

.ms-btn_gray{
    background-color: #d9dadc;
    color: #2d64e6;
}

.ms-btn_white{
    background-color: #f5f5f5;
    color: #000;
}

/* Typo */

.ms-text_white{
    color: #ffffff;
}

.ms-text_gray{
    color: #727272;
}

.ms-text_blue{
    color: #0072ce;
}


/* header */

header{
    position: fixed;
    top: 0;
    width: 100%;
}

.header-top{
    background-color: #000;
    height: 35px;
}

.header-top .container, .header-top .row{
    height: 100%;
}

.logo-sony{
    height: 20px;
}

.header-bottom{
    background-color: #fff;
    height: 65px;
}

.navbar{
    height: 100%;
}

.logo-ps{
    width: 100%;
}

.angle-down, .angle-down-hover{
    width: 0.62rem;
}

.angle-down-hover{
    display: none;
}
 
/* change bootstrap nav property */
.navbar-light .navbar-nav .nav-link, .nav-item .nav-link{
    color: #000;
}

.nav-item .nav-link{
    padding-left: 0;
    padding-right: 0;
}


/* Header hover */

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}

.nav-item .nav-link:hover .angle-down{
    display: none;
}

.nav-item .nav-link:hover .angle-down-hover{
    display: inline-block;
}



.ms-dropdown_angle{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/*game image */

.game{
    width: 100%;
    overflow: hidden;
}

.border_radius{
    border-radius: 15px;
}

.game__image{
    width: 100%;
}